body {
    padding-top: 60px;
}
.bottoni-citofono{
    padding: 20px 0 20px 0;
}
.bottoni-citofono button.btn.btn-info.btn-block{
    height: 70px;
    font-size: 40px;
}
ul.nav.navbar-nav{
    font-size: 30px;
}